{
    "semi": false,
    "singleQuote": true,
    "htmlWhitespaceSensitivity": "ignore",
    "vueIndentScriptAndStyle": true,
    "tabWidth": 3,
    "useTabs": false,
    "bracketSameLine": false,
    "printWidth": 150
  }
  